//BlackParadox

//Variables de color
$base: #060a0f;
$sec: #494949;
$outline: #ff6500;
$text: #494949;

a{
    margin: 0px;
    padding: 0px;
    @extend.tSlow;
    &:hover{
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        color: $outline;
    }
}

h1,h2,h3,h4,h5,h6{
    color: $base;
}
p{
    color: $sec;
}
.tSlow{
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
}
.pad_200{
    padding: 200px 0;
}
.center{
    text-align: center;
    margin: 0px auto;
}
//Estilos de los Inputs, texturas y areas

//Estilos de la barra de navegacion
nav{
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    position: fixed;
    border-bottom: 1px solid transparent;
    z-index: 100;
    @extend.tSlow;

    .logo img{
        width: 100%;
        @extend.tSlow;
    }
    ul{
        margin: 8px 0px;
        padding: 0;
        text-align: right;
        @extend.tSlow;
        li{
            display: inline-block;
            padding: 0px 10px;
            text-transform: uppercase;
            a{
                position: relative;
                text-decoration: none;
                font-size: 16px;
                color: white;
                @extend.tSlow;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    background-color: transparent;
                    height: 1px;
                    @extend.tSlow;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    width: 0%;
                    background-color: transparent;
                    height: 1px;
                    @extend.tSlow;

                }
                &:hover{
                    background-color: transparent;
                    text-decoration: none;
                    color: $base;
                    &:before{
                        width: 0%;
                        background-color: $base;
                    }
                    &:after{
                        width: 100%;
                        background-color: $base;
                    }

                }
            }
        }

    }
}
#slider{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    clip-path: polygon(100% 0% , 100% 100% , 50% 85% , 0% 100% , 0% 0%);
}

#slippry{
    position: relative;
    h1,h2,h3,h4,h5,h6,p,a,button,small,span{
        position: absolute;
        color: #fff;
        
    }
    p{
        max-width: 600px;

    }
    .left{
        left:200px;
    }
    .right{
        right:200px;
    }
    .top_250{
        top: 250px;
    }
    .top_300{
        top: 300px;
    }
    .top_375{
        top: 375px;
    }
    .top_400{
        top: 400px;
    }
    .top_450{
        top: 450;
    }

}
///////////////////////////
//////Inputs
///////////////////////////
input,
select,
textarea{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $base;
    margin: 5px, 0px;
    opacity: .5;
    @extend.tSlow;
    &:hover,
    &:hover{
        opacity: 100%;
        color: $base;

    }
}
textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-width: 250px;
}
button{
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid $base;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    padding: 10px 20px;
    margin: 5px 0px;
    color: $base;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: .7;
    &:hover{
        opacity: 1;
        background-color: $base;
        color: #fff;
    }
}
.black{
    background-color: $base;
    opacity: 1;
    color: #fff;
    &:hover{
        background-color: $outline;
        border: 1px solid $outline;
    }
}

.small, {
    color: #fff;
    &:hover{
        color: $outline;
        cursor: pointer;
    }
}
.servicio-img{
    width: 250px;
    height: 250px;
}
.rounded-circle{
    @extend.rombo;
}
.rombo{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    @extend.tSlow;
    &:hover{
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }
}
.diamante{
    display:block;
    position: relative;
    width: 100%;
    height: 1;
    overflow: hidden;
    background-image: url(../images/square_01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 200;
    @extend.rombo;
}
//////////////////////////////////
////////////////// Footer y estilos
//////////////////////////////////
footer{
    margin-top: -60px;
    width: 100%;
    background-color: $base;
    padding: 70px 0px;
    clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
    p{
        margin: 0px;
        padding:  0px;
    }
    ul{
        padding:  0px;
        margin: 0px;
        list-style: none;
        li{
            padding: 0px;
            margin: 0px;
            color: transparentize($color: #fff, $amount: .8)
        }
    }
    hr{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: transparentize($color: #fff, $amount:.92);
    }
}
.tumblr{
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 20%;
    @extend.tSlow;
    &:hover{
        opacity: 1;
    }
}
.copy{
    padding: 10px 0px;
    background-color: lighten($color: $base, $amount: 1);
    text-align: left;
    p, a{
        margin: 0px;
        padding: 0px;
        color: transparentize($color: #fff, $amount: .1);

    }
    a{
        opacity: .5;
        color: $outline;
        @extend.tSlow;
        &:hover{
            opacity: 1;
            text-decoration: none;

        }
    }
}
.white{
    p{
        color: #fff;
    }
    a{
        color: #fff;
        :hover{
            color: $outline;
        }
    }

}
.social-networks{
    margin: 5px;
    li{
        color: #fff;
        display: inline-block;
        margin: 0px 7px;
        float: left;
        width: 30px;
        height: 30px;
        text-align: center;
        position: relative;
        cursor: pointer;
        &:hover{
            color: $outline;
        }
    }
}
.nav-overlay{
    background-color: #fff;
    ul{
        li{
            a{
                color: $base;
            }
        }
    }
}
////////////////////////////////////////////////////////////////////////
/////////Estilos del portafolio
///////////////////////////////////////////////////
.grid{
    width: 100%;
    padding: 150px 0px;
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}
.grid-item{
    width: 20%;
    height: 20%;
    overflow: hidden;
    float:left;
    position: relative;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-top: -111px;
    @extend.tSlow;
    &:before{
        content: "";
        position: absolute;
        background-color: transparent;
        background-image: none;
        background-position: center center;
        width: 100%;
        height: 100%;
        pointer-events: none;
        @extend.tSlow;
    }
    &:nth-child(6), &:nth-child(15){
        margin-left: 111px;
    }
    a{
        img{
            width: 100%;
            height: auto;
        }
    }
    &:hover{
        &:before{
            content: "";
            position: absolute;
            background-color: transparentize($outline, .1);
            background-image: url(../images/cross.png);
            background-repeat: no-repeat;
            background-size: 30%;
            background-position: center center;
            width: 100%;
            height: 100%;
        }
    }
}

.link-active{
    background-color: transparent;
    text-decoration: none;
    color: $base;
    &:before{
        width: 100%;
        height: 1px;
        background-color: $base;
    }
    &:after{
        width: 100%;
        height: 1px;
        background-color: $base;
    }
}

.formulario{
    text-align: center;
    width: 100%;
    max-width: 470px;
}